$background-gradient: transparent;
$primary-color: #4bb4e6;
$text-color: #ffffff;
$subtitle-color: #d0d0d0;
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Poppins', sans-serif;

.global-impact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background: $background-gradient;
  position: relative;
  color: $text-color;
  text-align: center;
  padding: 2rem;
  flex-direction: column;

  @media (max-width: 768px) {
    justify-content: flex-end;
  }
  .small-globe-div{
    display: none;

    @media (max-width: 768px) {
        display: block;
      }
    }

  .small-globe-image {
    display: none;

    @media (max-width: 768px) {
      display: block;
      width: 100%; // Ensure the image takes the full width of its container
      height: auto; // Maintain the aspect ratio
    }
  }


  //cursor !div
  cursor: none;
  overflow: hidden;

  //custom-cursor div
  .square {
    z-index: -5;
    position: absolute;
    height: 190px;
    width: 190px;
    border-radius: 47px;
    filter: blur(20px);
    pointer-events: none;
    opacity: 0.3;
    transition: opacity 0.3s ease-out;
  }
  // trail custom cursor div
  .square.active {
    z-index: -5;
    opacity: 0.5;
  }

  .content-block {
    z-index: 999;
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 2rem;
    max-width: 60%;
    width: 74.375rem;
    position: relative;
    text-align: left;

    .text-content {
      flex: 22;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      z-index: 2;

      .title {
        font-size: 3rem;
        font-weight: 600;
        font-family: $font-primary;
        margin-bottom: 1rem;

        span {
          color: $primary-color;
        }
      }

      .subtitle {
        font-size: 1.25rem;
        font-weight: 400;
        font-family: $font-secondary;
        color: $subtitle-color;
        margin-bottom: 2rem;
      }

      .button-placement {
      }
    }
  }

  // Hide the custom cursor and effects on mobile
  @media (max-width: 768px) {
    .square {
      display: none; // Hide the square on mobile
    }

    .content-block {
      max-width: 100%;
      align-self: flex-start; // Center the content block horizontally
    }
  }

  @media (max-width: 480px) {
    .text-content {
      .title {
        font-size: 2rem; // Further adjust title size for very small screens
      }

      .subtitle {
        font-size: 0.9rem; // Further adjust subtitle size for very small screens
      }
    }
  }
}
