$background-gradient: transparent;
$primary-color: #4bb4e6;
$text-color: #ffffff;
$subtitle-color: #d0d0d0;
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Poppins', sans-serif;

.global-impact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background: $background-gradient;
  position: relative;
  color: $text-color;
  text-align: center;
  padding: 2rem;
  flex-direction: column;

  //cursor !div
  cursor: none;
  overflow: hidden;

  //custom-cursor div
  .square {
    z-index: -5;
    position: absolute;
    height: 190px;
    width: 190px;
    border-radius: 47px;
    filter: blur(20px);
    pointer-events: none;
    opacity: 0.3;
    transition: opacity 0.3s ease-out;
  }
  // trail custom cursor div
  .square.active {
    z-index: -5;
    opacity: 0.5;
  }

  .content-block {
    z-index: 999;
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 2rem;
    max-width: 60%;
    width: 100%;
    position: relative;
    text-align: left;


    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
    }

    .text-content {
      flex: 22;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      z-index: 2;

      .title {
        font-size: 3rem;
        font-weight: 600;
        font-family: $font-primary;
        margin-bottom: 1rem;

        span {
          color: $primary-color;
        }
      }

      .subtitle {
        font-size: 1.25rem;
        font-weight: 400;
        font-family: $font-secondary;
        color: $subtitle-color;
        margin-bottom: 2rem;
      }

      .button-placement {
      }
    }
  }

  @media (max-width: 768px) {
    .text-content {
      align-items: center;
      text-align: center;

      .title {
        font-size: 2.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 480px) {
    .text-content {
      .title {
        font-size: 2rem;
      }

      .subtitle {
        font-size: 0.9rem;
        text-align: left;
      }
    }

    .image-content {
      max-width: 100%;
    }
  }
}
