$background-gradient: transparent;
$primary-color: #4bb4e6;
$text-color: #ffffff;
$subtitle-color: #d0d0d0;
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Poppins', sans-serif;

.global-impact-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 50vh;
  background: $background-gradient;
  position: relative;
  color: $text-color;
  text-align: center;
  padding: 2rem;
  flex-direction: column;

  //cursor
  cursor: none;
  overflow: hidden;

  //custom cursor
  .cursor-glow {
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 10%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background: #0dcaf0;
    filter: blur(80px);
  }




  .content-block {
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 2rem;
    max-width: 60%;
    width: 100%;
    position: relative;
    text-align: left;


    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
    }

    .text-content {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      z-index: 2;

      .title {
        font-size: 3rem;
        font-weight: 600;
        font-family: $font-primary;
        margin-bottom: 1rem;

        span {
          color: $primary-color;
        }
      }

      .subtitle {
        font-size: 1.25rem;
        font-weight: 400;
        font-family: $font-secondary;
        color: $subtitle-color;
        margin-bottom: 2rem;
      }

      .button-placement {
      }
    }
  }

  @media (max-width: 768px) {
    .text-content {
      align-items: center;
      text-align: center;

      .title {
        font-size: 2.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 480px) {
    .text-content {
      .title {
        font-size: 2rem;
      }

      .subtitle {
        font-size: 0.9rem;
        text-align: left;
      }
    }

    .image-content {
      max-width: 100%;
    }
  }
}
