$font-primary: 'Space Grotesk', sans-serif;
$text-color: var(--neutral-colors-100);
$primary-color: #4bb4e6;
$title-font-size: 5.75rem;
$title-line-height: 6.244rem;

.mly-main-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 85vh;//70vh
  background: transparent;
  color: $text-color;
  //padding: 2rem;
  text-align: left;

  &__content {
    //max-width: 90.313rem;
    width:100%;
    margin: 0 auto;

    @media (max-width: 768px) {
      width:100%;
      padding:2rem 0;
    }
  }

  h1 {
    display: inline-block;
    max-width: 31.25rem;
    font-size: $title-font-size;
    font-weight: 400;
    letter-spacing: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    line-height: $title-line-height;
    font-family: $font-primary;
    white-space: nowrap;
    overflow-wrap: break-word;
    overflow: visible;

    &.title-text {
      width: 100%;
      max-width: unset;
      white-space: normal;
    }

    .highlight {
      font-weight: 500 !important;
      color: $primary-color !important;
    }
  }

  .subtitle {
    @include subtitle-style();
    //color: #d0d0d0;
    margin-top: 1rem;
    max-width: 62rem;
    //max-height: 5.938rem;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 13.313rem;
    height: 3.375rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten(#fff, 10%);
    }

    .arrow {
      margin-left: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 1.2;
      max-width: 100%;
    }

    .subtitle {
      font-size: 1.2rem;
      line-height: 1.4;
    }

    .btn {
      width: auto;
      //padding: 0.6rem 1.2rem;
      font-size: 0.875rem;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 3rem;
      line-height: 1.1;
    }

    .subtitle {
      font-size: 1.2rem;
      line-height: 1.3;
    }

    .btn {
      //padding: 0.5rem 1rem;
      font-size: 0.8rem;
    }
  }
}

//for the mly copyright logo
.mly-copyright-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}
