@import "../global";
$desktop-breakpoint: 1024px;
$mobile-breakpoint: 767px;

.block-container {
  //background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1920px;
  padding: 2rem 1rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  a.link {
    text-decoration: none;
    color: inherit;
  }

  .inner-block {
    @include inner-block-base(
    );
    .content-section {
      @extend %content-image-section-base;
      flex: 2;
      color: white;
      padding-right: 30px;
      display: flex;
      flex-direction: column;

      .logo {
        width: 128px;
        height: 56px;
        margin-bottom: 20px;
        align-self: flex-start;

        img {
          max-width: 100%;
          height: auto;
          display: block;
          position: static; // Important: Reset the image position if needed
          z-index: auto; //Reset z-index if needed
        }
      }

      .title {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 60px;
        font-weight: 400;
        line-height: 84px;
        text-align: left;
        margin-bottom: 20px;

        &:hover {
          text-decoration: none;
        }
      }

      .paragraph {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        margin-bottom: 20px;
        align-items: unset;
        align-self:unset;
        height:auto;

        &:hover {
          text-decoration: none;
        }
      }

      .arrow-image {
        width: 30px;
        height: 31px;
        padding: 7px 0;
        margin-top: 10px;
        align-self: flex-start;
        opacity: 1;

        img {
          max-width: 100%;
          height: auto;
          display: block;
          position: static; // Important: Reset the image position if needed
          z-index: auto; //Reset z-index if needed
        }

        @media (max-width: $mobile-breakpoint) {
          display: inline-block;
        }
      }

      @media (max-width: $desktop-breakpoint) {
        text-align: center;
        padding-right: 0;

        .logo {
          align-self: center;
        }
      }

      @media (max-width: $mobile-breakpoint) {
        .title {
          font-size: 1.5rem;
          line-height: 2rem;
        }

        .paragraph {
          font-size: 0.9rem;
          line-height: 1.4rem;
        }
      }
    }

    .image-section {
      @extend %content-image-section-base;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        max-width: 481px;
        display: block;
        position: static; // Important: Reset the image position
        z-index: auto; //Reset z-index if needed

        @media (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
    }
  }
}
