$desktop-breakpoint: 64rem;
$mobile-breakpoint: 47.938rem;

.services-block {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 37.5rem;
  margin: 0;
  padding: 0;
  overflow-x: visible;
  overflow-y: visible;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: auto;
    padding: 0;
  }

  .services-container {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: inherit;//height:

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 125rem; // Set a fixed height for the services container on mobile view
    }

    .service-item {
      position: relative;
      width: 25%;
      z-index: 5;
      //max-width: 30rem;
      min-height: inherit;//height:
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      background: none;
      margin: 0;
      padding: 0;
      bottom: 0;
      transform-origin: bottom;
      text-align: center;
      overflow: hidden;
      //box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
      //transition: box-shadow 1s ease, transform 1s ease, background 1s ease;

      @media (max-width: $mobile-breakpoint) {
        width: 100%;
        max-width: none;
        height: 31.25rem; // Set a fixed height for each service item on mobile view
        margin-bottom: 1rem;
        box-shadow: none;
        overflow: visible;
        //justify-content: center;

        // Remove hover and animation effects for mobile view
        transition: none;
      //.service-content{
      //    display: block;
      //    padding: 2.5rem;
      //
      //  .service-title{
      //    text-align: left;
      //  }
      //
      //  .service-description{
      //    text-align: left;
      //  }
      //}
      }
      // Background gradients for each nth-child
      &:nth-child(4n+1) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) var(--gradient-stop, 33%), #57c1fa 65%);
      }
      &:nth-child(4n+2) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) var(--gradient-stop, 33%), #4dfbf1 65%);
      }
      &:nth-child(4n+3) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) var(--gradient-stop, 33%), #8ffb4d 65%);
      }
      &:nth-child(4n+4) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) var(--gradient-stop, 33%), #4dfbb2 65%);
      }

      &:hover {
        &:nth-child(4n+1) {
          background-image: linear-gradient(to bottom, rgba(87, 193, 250, 0) 23%, #57c1fa 65%);
        }
        &:nth-child(4n+2) {
          background-image: linear-gradient(to bottom, rgba(77, 251, 241, 0) 23%, #4dfbf1 65%);
        }
        &:nth-child(4n+3) {
          background-image: linear-gradient(to bottom, rgba(143, 251, 77, 0) 23%, #8ffb4d 65%);
        }
        &:nth-child(4n+4) {
          background-image: linear-gradient(to bottom, rgba(77, 251, 178, 0) 23%, #4dfbb2 65%);
        }

        .service-icon,
        .service-content {
          transform: translateY(var(--icon-offset, 0));
          transition: transform 1s ease-in-out;
        }

        .service-description {
          display: block;
          box-shadow: none;
          mask-image: none;
        }

        .service-content,
        .services-container {
          height: auto;
          overflow: visible;
        }
      }

      &:not(:hover) {
        .service-icon,
        .service-content {
          transform: translateY(0);
          transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
        }
      }

      .service-icon {
        position: relative;
        width: 10rem;
        height: 10rem !important;
        display: flex;
        margin: 5rem 0;
        padding: 0;
        z-index: 5;
        filter: drop-shadow(0 0.625rem 1.25rem rgba(0, 0, 0, 0.5));

        @media (max-width: $mobile-breakpoint) {
          margin: 5rem 0;
          width: 8rem;
          height: 8rem !important;
        }

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          opacity: 0.85;
          mix-blend-mode: soft-light;
        }
      }

      .service-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        z-index: 2;
        text-align: left;
        padding: 0 2.5rem;
        gap:2px;
        width: 100%;
        background: transparent;
        height: auto;
        max-height: 100%;

        @media (max-width: $mobile-breakpoint) {
          align-items: center;
          text-align: center;
          padding: 2rem;
        }

        .service-title {
          font-family: "Space Grotesk", sans-serif;
          align-self: stretch;
          font-size: 1.875rem;
          font-weight: 200;
          line-height: 1.09;
          //margin-bottom: 10%;
          color: #121212;

          @media (max-width: $mobile-breakpoint) {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
          }

          .service-title span{
            font-weight: 400;
          }
        }

        .service-description {
          display: inline-block;//
          font-size: 1rem;
          line-height: 1.6;
          color: #121212;
          margin: 0 auto;
          display: -webkit-box;
          overflow: hidden;
          font-family: "Poppins",sans-serif !important;//overwriting the font-family for the parent.
          height: auto;

          @media (max-width: $mobile-breakpoint) {
            font-size: 0.9rem;
          }
        }
      }

      .arrow-block {
        position: absolute;
        bottom: 0;
        left: 0;
        //padding-left: 1.25rem;
        padding: 2.5rem;
        width: 100%;
        height: 7.5%;
        z-index: 10;
        background: var(--arrow-color, #000);
        box-shadow: 0 -5px 10px var(--arrow-color, #000);
        mask-image: linear-gradient(to top, var(--arrow-color, #000) 60%, var(--arrow-color,rgba(0, 0, 0, 0)) 80%);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .arrow {
          width: auto;
          height: auto;
          position: relative;
          z-index: 20;
        }

        @media (max-width: $mobile-breakpoint) {
          position: static;
          padding-left: 0.625rem;
          height: 8%;
          background: none;
          box-shadow: none;
          mask-image: none;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .arrow {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }




    }
  }
}
