// resources/styles/blocks/nextPortfolio.scss

// Variables for easy customization
$dark-background: #121212; // Dark background color
$white-text: #ffffff;        // White text color
$primary-font: sans-serif;    // Default font
$arrow-color: $white-text;    // Color of the arrow  (Unused now, you can remove it)
$arrow-size: 1.5em;         // Size of the arrow  (Unused now, you can remove it)
$image-height: 200px;        // Adjust as needed
$category-color: #999;       // Light gray for category text
$block-padding: 1.5em;
$mask-height: 50px; // Adjust the height of the mask as needed

.nextPortfolio {
  color: $white-text;
  font-family: $primary-font;
  position: relative; // Added for positioning the mask

  .next-portfolio-link {
    position: relative;
    display: block;
    color: inherit;

    .next-portfolio-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      .heading-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem; // Add some space between the text/arrow and the image
        .content {
          display:flex;
          flex-direction: column;
          justify-content: start;
        }
        .arrow-1 {
          #next-arrow {
            width: 1.5em;
            height: 1.5em;
            margin-left: 1em;
            display: block;
            object-fit: contain;
          }
        }

        h3 {
          font-size: 1.8rem;
          margin-bottom: 0; // Remove margin to be managed in the .heading-content

          a {
            color: $white-text;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }


      p.category {
        font-size: 0.9rem;
        color: $category-color;
        margin-bottom: 0; // Adjust the category margin
      }

      img {
        width: 100%;
        height: $image-height;
        object-fit: cover;
        margin-bottom: $block-padding / 2;
        display: block;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $mask-height;
        background: linear-gradient(to top, #000, transparent);
        pointer-events: none;
      }
    }
  }

  p {
    margin-bottom: 0.75rem;
  }

  //If there are no next_portfolio_items.
  &.no-next-item {
    color: white;
  }
}
