.zoho-partner-block {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: transparent;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 1180px;
    transition: all 0.5s ease;

    .overlay-content {
      z-index: 2;
      text-align: center;
      font-family: $font-primary;
      //color: $navbar-link-color;
      transition: all 0.5s ease;

      .partner-title {
        font-size: $title-font-size;
        line-height: $title-line-height;
        font-weight: 400;
        margin: 0;
        transition: all 0.5s ease;

        &.first-click {
          display: none;
        }
        &.second-click {
          display: none;
        }
        &.third-click {
          display: none;
        }
      }

      .partner-description {
        font-size: $subtitle-font-size;
        line-height: $subtitle-line-height;
        font-weight: 300;
        margin: 1rem 0 0 0;
        visibility: hidden;
        transition: all 0.5s ease;

        &.first-click {
          visibility: visible;
          font-size: $subtitle-font-size * 1.26;
          font-weight: 400;
          line-height: $title-line-height * 0.33;
          margin: 0 15%;
        }

        &.second-click {
          display: none;
        }
      }
    }
  }

  .background-image {
    position: absolute;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 520px;
    max-width: 100%;
    z-index: 1;
    transition: all 0.7s ease;

    &.first-click {
      opacity: 0.5;
      top: 40%;
      width: 200px;
      height: 200px;
    }

    &.second-click {
      opacity: 0.3;
      top: auto;
      bottom: 10%;
      width: 150px;
      height: 150px;
    }
    &.third-click{
      opacity: 0.7;
      top: 160%;
      bottom: 0;
      width: 100px;
      height: 100px;
    }
  }

  .third-div {
    display: none;
    text-align: center;
    transition: all 0.5s ease;

    &.third-click {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .third-div-image {
        width: 100px;
        height: 50px;
      }

      .third-div-title {
        font-size: 1.5rem;
        //color: white;
        font-weight: 600;
      }

      a {
        display: inline-block;
        //padding: 10px 20px;
        //background-color: $navbar-link-color;
        //color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
  .zoho-partner-block {
    height: auto;
    min-height:60vh;
    padding: 20px;

    .content-wrapper {
      width: 100%;
      max-width: 100%;
    }

    .background-image {
      width: 300px;
      height: 300px;
    }
  }
}

@media (max-width: 480px) {
  .zoho-partner-block {
    padding: 10px;

    .content-wrapper {
      .overlay-content {
        .partner-title {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }

        .partner-description {
          font-size: 0.9rem;
          line-height: 1.2rem;
        }
      }
    }

    .background-image {
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width:490px){
  .zoho-partner-block{
    .overlay-content{
      transform: translateY(40%);
      .partner-title{
        font-size:40px !important;
        line-height: 43.43px !important;

      }
    }
    .background-image{
      transform: translate(-50%,-60%);
    }
  }
}
