@import "../common/signature_gradient_button";

// Variables for colors and dimensions
$color-primary: #0dcaf0;
$color-secondary: #99FAF4;
$color-hover: #bff0f7;
$color-background: black;
$font-size-mobile-menu: 3rem;
$z-index-high: 9999;
$z-index-medium: 9998;
$z-index-low: 9997;
$transition-duration: 0.3s;
$transition-easing: ease-in-out;

// Mixins for common styles
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin transition-transform($duration, $easing) {
  transition: transform $duration $easing;
}

// Styles
header {
  @include flex-center;
}

.navbar {
  width: 100%;
  //height: 20vh;
  max-width: 90.313rem;
  align-items: center;
  justify-content: flex-end;
  transition: background 0.5s linear;

  .container-fluid {
    --bs-gutter-x: unset;
  }
}
.navbar.scrolled{
  position: sticky;
  background: transparent;
  filter:blur(50px);
}

.mobile-navbar-collapse {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $color-background;
  @include flex-column-center;
  transform: translateX(-100%);
  @include transition-transform($transition-duration, $transition-easing);
  z-index: $z-index-low;

  &.show-menu {
    transform: translateX(0);
    overflow-y: scroll;
  }

  .close-button {
    display: flex;
    height: 10vh;
    width: 100%;
    padding: 3rem 2rem;
    position: absolute;
    top: 0;
    left: 0;

    .close-button-wrapper {
      height: 20px;
      width: 20px;
      align-self: flex-start;
      justify-content: flex-start;

      .close-button-icon {
        background-repeat: no-repeat;
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
  }

  .socials {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;

    img {
      // Styles for social icons inside mobile nav
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    list-style: none;
    overflow-y: scroll;
    height: 80vh;
    z-index: $z-index-high;
    font-size: $font-size-mobile-menu;

    .nav-item {
      text-decoration: none;

      .nav-link {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}

#mobile-navbar-background-flame-img {
  position: absolute;
  bottom: 0;
  //right: -78px;
  left:14%;
  transform: rotate(-23.47deg);
  z-index: $z-index-medium;
  height: 70vh;
  width: 100%;
  opacity: 0.7;
}

@media (max-width: 768px) {
  // Mobile View
  .desktop-nav {
    display: none;
  }

  .banner {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  // Desktop View
  .mobile-navbar-collapse {
    display: none !important;
  }

  .hamburger-icon,
  .message-box {
    display: none;
  }

  .desktop-nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    list-style: none;

    .nav-item {
      text-decoration: none;
      padding: 1rem;
      height:auto;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.09;
      letter-spacing: normal;
      text-align: left;
      color: #99faf4;

      .nav-link {
        color: $color-secondary;

        &:hover {
          color: $color-hover;
        }
      }

      //&:last-child .nav-link {
      //  border-radius: 5px;
      //  background-color: $color-primary;
      //  font-weight: normal;
      //  color: black;
      //  padding: 1rem;
      //
      //  &:hover {
      //    font-weight: bold;
      //  }
      //}

      &:last-child {
        & a{
          text-decoration: none;
          color:#121212;
          &:hover{
            color: black;
            //font-size: 19.7px;
            font-weight: 550;
          }
        }
        @include signature-gradient-button();

        &:hover{
          cursor: pointer;
          a{
            //font-size: 19.7px;
            font-weight: 550;
          }
        }
      }
    }
  }
}
