//$navbar-bg-gradient: linear-gradient(25deg, #000000, #00008B);
$navbar-bg-gradient:transparent;
$font-primary: 'Space Grotesk', sans-serif;
$navbar-link-color: #99FAF4;
$navbar-link-hover-color: #bff0f7;
$primary-button-bg: linear-gradient(25deg, #0d99ff, #aefdf3);
$primary-button-border: 0.5px solid darkcyan;
$primary-button-color: black;


.banner {
  .navbar {
    background: $navbar-bg-gradient;
    display: flex;
    align-items: center;
    font-family: $font-primary;
    --bs-navbar-padding-y:2.5rem;

    .container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90.313rem;
      height: 3.25rem;
      margin: 0 auto;
      --bs-gutter-x:unset;
    }

    .navbar-brand {
      margin-right: auto;
      display: flex;
      align-items: center;

      img {
        min-width: 8.625rem ;
      }
    }

    .hamburger-icon {
      display: none;
      font-size: 2rem;
      min-height: 1.5rem;
      min-width: 1.5rem;
      cursor: pointer;
      color: #0dcaf0;

      @media screen and (max-width: 767px) {
        display: inline-block;
        margin-right: 1rem;
        z-index: 200;//here
      }
    }

    .message-box {
      display: none;
      font-size: 1.5rem;
      min-height: 1.5rem;
      min-width: 1.5rem;
      cursor: pointer;
      color: #0dcaf0;

      @media screen and (max-width: 767px) {
        display: inline-flex;
        margin-right: 1rem;
      }
    }

    .socials {
      display: none;

      img {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.nav-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #0dcaf0;
  white-space: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .nav-item {
    font-weight: 400;

    a {
      color: $navbar-link-color;
      text-decoration: none;
      font-family: $font-primary;

      &:hover {
        color: $navbar-link-hover-color;
        font-weight: 500;
      }
    }

    .last-nav-item a {
      min-width: 210px;
      min-height: 52px;
      color: $primary-button-color !important;
      background: $primary-button-bg;
      border-radius: 3px;
      padding: 15px 45px;
      border: $primary-button-border;
      text-align: center;
      display: inline-block;
    }

    &:last-child {
      border-radius: 0.8em;
      display: inline-block;
      padding: 0.5em 1em;
      color: $navbar-link-color;
      transition: all 0.3s ease;


      @media screen and (max-width: 768px) {
        padding: 0.4em 0.8em;
        font-size: 1em;
      }

      @media screen and (max-width: 480px) {
        padding: 0.2em 0.4em;
        font-size: 0.8em;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-left: 1rem;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    background: $navbar-bg-gradient;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
    z-index: 150;//here

    &.show-menu {
      display: flex;

      .socials {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 1rem;
        order: 3;
      }
    }
  }

  .navbar-brand {
    margin: 0 auto;
  }

  .hamburger-icon {
    margin-right: 1rem;
  }

  .message-box.show-menu {
    display: flex;
    margin-right: 1rem;
  }
}

.nav-menu.show-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 112px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 10px;
  font-family: $font-primary;
  font-size: 2.5rem;
  color: #A6FFFA;
  gap: 10px;


  .socials.show-socials {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
}

.nav-menu .last-nav-item a {
  min-width: 210px;
  min-height: 52px;
  color: $primary-button-color !important;
  border-radius: 5px;
  background: $primary-button-bg;
  padding: 15px 45px;
  border: $primary-button-border;
}

.nav-menu.show-menu .nav-item:last-child a {
  background: none;
  border: none;
  padding: 10px 10px;
  font-size: inherit;
  color: $navbar-link-color !important;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
}
