.tags-list{
  @include flex-block-center();
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  height:50px;
  margin:auto 0 0;
  padding: 0;
  gap:10px;
}

.tag-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width:242px;
  height:50px;
  margin:0;
  padding:15px 30px;
  border-style: solid;
  border-radius: 3px;
  border-image-source: linear-gradient(102deg, #0d99ff -32%, #aefdf3 117%);
  border-image-slice: 1;
}

