// _variables.scss

// Colors
$navbar-bg-gradient: linear-gradient(25deg, #000000, #00008B);
$primary-button-bg: linear-gradient(25deg, #0d99ff, #aefdf3);
$primary-button-border: 0.5px solid darkcyan;
$primary-button-color: black;
$navbar-link-color: #99FAF4;
$navbar-link-hover-color: #aaa;

// Fonts
$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Sizes and Spacing
$navbar-padding-left: 2rem;
$button-width: 213px;
$button-height: 54px;

// Typography
$title-font-size: 92px;
$title-line-height: 99.88px;
$subtitle-font-size: 20px;
$subtitle-line-height: 28px;

// Background
$background-gradient: linear-gradient(135deg, #000000 40%, #003366 100%);

// Colors for highlights and text
$primary-color: #4bb4e6;
