$desktop-breakpoint: 1024px;
$mobile-breakpoint: 767px;

//global style
body {
  position: relative;
  background:black;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.page-header{
  display: none;
}


//blur background
.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-filter: blur(16.6px);
  filter: blur(16.6px);
  z-index: -1;
}


//Mixin for centering the flex styled block
@mixin flex-block-center($flex-direction: column, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// Mixin for span text styling
@mixin span-style($color: #4bb4e6, $font-weight: 400) {
  font-weight: $font-weight;
  color: $color;
}

// Mixin for glowing border
@mixin glowing-border($glow-color:white, $initial-shadow: 10px, $hover-shadow: 20px) {
  border: 1px solid $glow-color !important; /* Base border */
  box-shadow: 0 0 $initial-shadow $glow-color; /* Initial glow effect */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover */

  &:hover {
    box-shadow: 0 0 $hover-shadow $glow-color; /* Increase glow on hover */
  }
}

//mixin for subtitle
@mixin subtitle-style(){
  color: var(--neutral-colors-100);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}


//Mixin for Zoom effect

@mixin zoom-effect($scale: 1.1, $transition-time: 0.3s) {
  display: block;
  transition: transform $transition-time ease;
  transform-origin: center center;

  &:hover {
    transform: scale($scale);
  }
}



//for background page in the Front-Page Template
//First-flame
.first-flame {
  position: absolute ;
  object-fit: contain;
  background-repeat: no-repeat;
  margin: auto;
  padding: 25px 239px 1000.8px 79px;
  width: 100vw;
  height: 1200px;
  z-index: -5;

  @media (max-width: $mobile-breakpoint) {
    background-size: contain;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

}


// Globe image
.globe-image-content {
  position: absolute;
  z-index: -3;
  left: -50px;
  width: 70%;
  height: 15%;
  bottom: 13%;
  background-repeat: no-repeat;
  object-fit: contain;
  opacity: 22%;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}



//last-flame
.last-flame {
  z-index: -5;
  position: absolute;
  bottom: 4vh;
  left: 0;
  width: 50%;
  height: 13%;
  margin: 0 58.2px 0 0;
  padding: 6.5px 58.8px 29px 0;
  object-fit: contain;
  opacity: 0.9;
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    object-fit: cover;
  }
}
