@import "global";
@import "common/variables";
@import "common/signature_gradient_button";
@import "blocks/project_main_block";

.portfolio-block-wrapper{
  align-items: flex-start;
  width: 100%;
}

.fixed-parent-height{
  min-height: 35vh !important;//it is getting conflicted with the mly_main_block design which also has this (incl. subtitle and desc and a button)
  overflow: hidden;

  @media(max-width: $mobile-breakpoint){
    padding: 0 !important;
      &.mly-main-block h1{
        font-size: 2.5rem;
        line-height: 1.1;
      }
    }
}

.portfolio-section{
  display: flex;
  flex-direction: column;
  max-width: 90.313rem;
  gap:2rem;
  height:auto;
  width:100%;
}

.portfolio-tags{
  display: flex;
  width:70%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap:0.3rem;
  //justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  }


  @media(max-width: $mobile-breakpoint){
    width:100% !important;//overriding for mobile viewto take full width of the container
    flex-wrap: wrap !important;//overriding for mobile view to wrap from nowrap
    height:auto;
    //gap:0.1rem;
  }
}
.tag-item {
  //display: inline-block;
  //justify-content: center;
  //align-items: center;
  //cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  height:50px;
  margin:0;
  padding:15px 30px;
  border-style: solid;
  border-radius: 3px;
  border-image-source: linear-gradient(102deg, #0d99ff -32%, #aefdf3 117%);
  border-image-slice: 1;

  @media(max-width: $mobile-breakpoint) {
    white-space: nowrap;
  }

  &.active {
    background: linear-gradient(25deg, #0d99ff, #aefdf3);
    font-weight: 500;
    color: #000000;
  }
}

.tag-link {
  text-decoration: none;
}

.tag-item.active .tag-link {
  text-decoration: underline;
}

.portfolio-content{
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;


  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.9rem;
    width: 100%;

    .portfolio-link {
      text-decoration: none;
      height: 31.25rem;

      @media (max-width: 768px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .portfolio-item {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        //flex: 1 1 calc(30vw - 1rem);
        border: white 1px solid;
        border-radius: 0;
        flex-direction: column;
        box-shadow: 0 0 2px white;
        overflow: hidden;

        &:hover {
          @include glowing-border();
        }

        .portfolio-image {
          overflow: hidden;
        }

        .portfolio-image img {
          @include zoom-effect(1.1, 0.4s);
          width: 100%;
          height: auto;
          display: block;
        }

        .portfolio-info {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: transparent;

          .portfolio-title {
            font-family: $font-primary;
            font-size: 1.2rem;
            font-weight: 700;
            color: #ffffff;
            margin-bottom: 0.5rem;
          }

          .portfolio-description {
            font-family: $font-secondary;
            font-size: 0.9rem;
            line-height: 1.4;
            color: #d0d0d0;
            margin-bottom: 1rem;
          }
        }

        .portfolio-arrow-image {
          padding: 0;
        }
      }
    }

    /* Desktop view: Two items per row */
    @media (min-width: 768px) {
      .portfolio-link {
        flex: 1 1 calc(50% - 1rem); /* Two items per row with gap */
      }
    }

    /* Mobile view: One item per row */
    @media (max-width: 767px) {
      .portfolio-link {
        flex: 1 1 calc(100% - 1rem); /* One item per row with gap */
      }
    }

  }
}


